/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

li > .pantone {
  color: #ffffff;
}

 svg {
 display: inline-block !important; 
} 

h2 {
  font-size: var(--ifm-h2-font-size);
  font-family: Countach;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
